psycopg2-binary
sqlalchemy~=2.0.38
fastapi~=0.115.8
pydantic~=2.10.6
uvicorn~=0.34.0
passlib~=1.7.4
python-jose~=3.5.0
pytest~=8.4.1
httpx
alembic
pytest-asyncio
python-dotenv
passlib[bcrypt]
python-multipart

jose~=1.0.0
pip~=22.0.2
attrs~=25.1.0
wheel~=0.37.1
PySocks~=1.7.1
protobuf~=3.12.4
cryptography~=3.4.8
pillow~=11.1.0
keyring~=23.5.0
setuptools~=59.6.0
future~=0.18.2
starlette~=0.45.3